/*
统一处理：建议在这个位置统一调用背景图（这里指多个布局或模块或元件共用的图）和清除浮动（这里指通用性较高的布局、模块、元件内的清除）等统一设置处理的样式！
布局（grid）（.g-）：将页面分割为几个大块，通常有头部、主体、主栏、侧栏、尾部等！
模块（module）（.m-）：通常是一个语义化的可以重复使用的较大的整体！比如导航、登录、注册、各种列表、评论、搜索等！
元件（unit）（.u-）：通常是一个不可再分的较为小巧的个体，通常被重复用于各种模块中！比如按钮、输入框、loading、图标等！
功能（function）（.f-）：为方便一些常用样式的使用，我们将这些使用率较高的样式剥离出来，按需使用，通常这些选择器具有固定样式表现，比如清除浮动等！不可滥用！
皮肤（skin）（.s-）：如果你需要把皮肤型的样式抽离出来，通常为文字色、背景色（图）、边框色等，非换肤型网站通常只提取文字色！非换肤型网站不可滥用此类！
状态（.z-）：为状态类样式加入前缀，统一标识，方便识别，她只能组合使用或作为后代出现（.u-ipt.z-dis{}，.m-list li.z-sel{}），具体详见命名规则的扩展相关项。
*/
body {
  font-size: 14px;
  font-family: 'Microsoft YaHei', 'simsun', sans-serif;
  background: #63666d;
}
.g-wrap {
  width: 1090px;
  margin: 0 auto 70px auto;
}
/* header start  */
.g-wrap-header {
  background: #000;
  margin-bottom: 25px;
}
.g-header {
  width: 1090px;
  height: 126px;
  margin: 0 auto;
  background: #000;
}
.g-header-left {
  width: 820px;
  height: inherit;
  /* background: #fbed6a;*/
}
.g-header-right {
  width: 270px;
  /* background: #fbed6a;*/
  height: inherit;
}
.m-logo {
  width: 100px;
  height: 44px;
  padding-top: 5px;
  margin-bottom: 30px;
  background: #f1f1f1;
}
.m-nav {
  height: 45px;
  font-size: 18px;
}
.m-nav ul li {
  width: 80px;
  height: inherit;
  margin: 0 30px;
  float: left;
  /*  text-align: center;*/
  color: #fff;
}
.m-nav ul li a {
  display: block;
  color: #fff;
}
.m-nav ul li:first-child {
  margin-left: 0;
}
.m-info {
  height: 50px;
  margin-bottom: 15px;
}
.m-search {
  height: 40px;
  position: absolute;
}
.m-search-box {
  width: 215px;
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 15px;
  border: none;
  background: #2c3033;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
}
.m-info {
  padding-top: 5px;
}
.m-info-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #eee;
  overflow: hidden;
}
.m-info-avatar img {
  width: 36px;
  height: 36px;
  border: none;
}
.u-icon-search {
  width: 30px;
  height: 30px;
  background: #d4d4d4;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
}
.m-info-list {
  margin-left: 5px;
  margin-top: 5px;
}
.m-info-list select {
  width: 115px;
  height: 25px;
}
.m-info-message {
  width: 24px;
  height: 24px;
  background: #000;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 5px;
}
.m-info-message img {
  width: 24px;
  height: 24px;
}
.m-info-language-select {
  margin-left: 5px;
  margin-top: 5px;
  height: 24px;
  line-height: 24px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}
/* header end */
/* content start */
.g-main-left {
  width: 770px;
}
.g-main-right {
  width: 285px;
}
/* carousel */
.m-carousel {
  height: 440px;
  margin-bottom: 25px;
  background: #26292e;
}
.m-hot-news {
  height: 440px;
  margin-bottom: 25px;
  background: #26292e;
  color: #fff;
  font-size: 12px;
}
.m-hot-news-title {
  /*  padding: 0 15px;
  .samelineXheight(50px);
  background: #1d2025;
  margin-bottom:20px;*/
}
.m-list-common-title {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  background: #1d2025;
  margin-bottom: 20px;
}
.m-list-common-title h4 {
  display: inline-block;
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 100;
}
.m-list-common-title i {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  background: #1592e2;
}
.m-hot-news-topic {
  width: 245px;
  margin: 0 auto 15px auto;
  color: #fff;
}
.m-hot-news-topic img {
  width: 245px;
  height: 110px;
  margin: 0 auto;
  display: block;
}
.m-hot-news-topic p {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 5px 10px;
}
.m-hot-news-list {
  width: 245px;
  margin: 0 auto;
}
.m-hot-news-list-article li {
  margin-bottom: 20px;
  overflow: hidden;
}
.m-hot-news-list-article li img {
  width: 90px;
  height: 50px;
}
.m-hot-news-text {
  width: 140px;
}
.m-hot-news-text .u-pat-text {
  height: 32px;
  margin-bottom: 5px;
  overflow: hidden;
}
.m-hot-news-text .u-pat-time {
  height: 16px;
  color: #999;
  overflow: hidden;
}
.m-matches-title {
  color: #fff;
  height: 53px;
}
.m-matches-title ul li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 110px;
  text-align: center;
  background: #0e0f13;
  color: #94959a;
  cursor: pointer;
}
.m-matches-title .u-title-active {
  width: 110px;
  height: 53px;
  color: #1787cf;
  background: #1c1d1f;
}
.m-matches-container {
  background: #1c1d1f;
}
.m-matches-container-title {
  padding: 5px 20px 0 20px;
  border-bottom: 1px solid #4a4d52;
}
.m-matches-container-title ul {
  color: #fff;
}
.m-matches-container-title ul li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  width: 46px;
  margin: 0 15px -1px 15px;
  text-align: center;
  color: #94959a;
  cursor: pointer;
}
.m-matches-container-title .u-child-active {
  color: #1787cf;
  border-bottom: 1px solid #1787cf;
}
.m-matches-container-content {
  padding: 22px 0;
  color: #fff;
}
.m-matches-container-content ul li {
  height: 145px;
  background: #292a2e;
  margin: 0 22px 24px 22px;
}
.u-matches-title {
  padding: 10px 16px;
  margin-bottom: 5px;
}
.u-matches-name {
  vertical-align: middle;
}
.u-matches-name .u-icon-team-all {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #000;
}
.u-matches-name .u-icon-text {
  vertical-align: middle;
  margin-left: 10px;
}
.u-matches-team-img {
  width: 105px;
  height: 65px;
  vertical-align: middle;
}
.u-matches-team-img {
  width: 105px;
  height: 65px;
}
.u-matches-teamname {
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
.u-matches-content {
  width: 500px;
  padding: 10px 0;
  margin: 0 auto;
  position: relative;
}
.u-divide-line {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 66px;
  background: #404549;
}
.m-matches-container {
  margin-bottom: 20px;
}
.m-store-hot {
  background: #1c1d1f;
  margin-bottom: 20px;
}
.m-store-hot-content {
  /*position: relative;*/
  padding: 0 12px 20px 12px;
}
.m-store-hot-content ul li {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 120px;
  margin: 0 10px;
}
.m-store-hot-content ul li img {
  width: 125px;
  height: 120px;
}
.u-title-transparent {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #1d1d1d;
  opacity: .8;
  text-align: center;
}
.u-title-transparent p:first-child {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.u-title-transparent p:nth-child(2) {
  color: #9b2c25;
}
.m-lastest-matches {
  background: #1c1d1f;
}
.m-lastest-matches-content {
  padding: 0 12px 20px 12px;
}
.m-lastest-matches-content ul li {
  width: 125px;
  display: inline-table;
  margin: 0 10px;
}
.m-lastest-matches-content ul li a {
  color: #fff;
}
.m-lastest-matches-content ul li a:hover {
  color: #f00;
}
.m-lastest-matches-content ul li img {
  width: 125px;
  height: 90px;
  margin-bottom: 10px;
}
.m-lastest-matches-content ul li p {
  line-height: 1.2;
  height: 30px;
  overflow: hidden;
}
.m-team-rank {
  background: #1c1d1f;
}
.u-team-rank-table {
  width: 100%;
}
/* content end */
/* footer start */
/* footer end */
